<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="testjavalabs" verbose="1">
    <test name="myfirstTestNgtrials">
        <classes>
            <class name="FormatValidationTest"/>
            <class name="LandOnDirectoryPageTest"/>
            <class name="ZipCodePositiveTest">
                <methods>
                    <include name="multipleRepSearchWithZipSearchShouldPass()"/>
                </methods>
            </class>
        </classes>
    </test>


    <test name="myseconfTestNgtrials">
        <classes>
            <class name="FormatValidationTest"/>
        </classes>
    </test>

</suite>

